/*  Table of Content (Index)
        1. Global
        2. RootContainer
*/

/*  =======================
    1. Global
    ======================= */
*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;

    background: #222222;
    color: #FFFFFF;

    font-family: "Tiny5", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    text-align: left;
}

body {
    width: 100%;
}

/* Typography */
h1, h2, h3, h4, h5, h6, p, a, button {
    margin: 0;
    padding: 0;
}

p, a, button {
    font-size: 1rem;
    color: black;
}

/* Links */
a {
    text-decoration: none;
    font: inherit;
}

/* Buttons */
button {
    display: inline-block;

    padding: 0.63em 1.563em;

    border: 1.5px solid black;
    background: white;

    font: inherit;
    text-align: center;
}

/* Inputs */
input, textarea, select {
    font: inherit;
}

/* media */
img, picture, svg, video {
    display: block;
    max-width: 100%;
}

/*  =======================
    2. RootContainer
    ======================= */
body > main {
    width: 100%;

    padding: 2rem 1rem 1rem;

    display: flex;
    align-items: flex-start;
    justify-content: center;

    flex-wrap: wrap;

    gap: 2rem;
}

label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    gap: 0.5rem;
}

select {
    min-width: 16ch;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

#game {
    border: 5px solid #bebebe;
    background: #bebebe;

    outline: 2px solid #FFFFFF;

    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: column;

    gap: 10px;
}
#game > div {
    min-height: 5rem;
    min-width: 100px;

    background: inherit;
    outline: 2px solid #FFFFFF;
}

#current-game-stats {
    padding: 0.5rem;

    display: flex;
    justify-content: space-between;
}
#current-game-stats > div {
    flex-basis: 4rem;
}

.stat-number-box {

    padding: 0.3rem;

    background: #000000;
    color: #fa000f;

    display: flex;
    align-items: center;
    justify-content: center;
}

.stat-number-box > div {

    font-size: 1.5rem;
    transform: scale(150%, 300%);
    line-height: 1;
}

#field {
    padding: 0.5rem;

    display: grid;
    grid-auto-rows: 2rem;
    grid-gap: 0.3rem;
}
#field.small-field {
	grid-template-columns: repeat(9, 2rem);
}
#field.intermediate-field {
	grid-template-columns: repeat(16, 2rem);
}
#field.expert-field {
	grid-template-columns: repeat(22, 1.5rem);
	grid-auto-rows: 1.5rem;
}

.cell {
    padding: 0.2rem;

    border: 1px solid;
    border-top-color: #FFFFFF;
    border-left-color: #FFFFFF;

    display: flex;
    align-items: center;
    justify-content: center;
}
.cell.revealed {
    border-color: #808080;
}
.cell.mine-hit {
    outline: 2px solid #000000;
    background: #FFFFFF;
}

.color-blue {
    color: #0000ff;
}
.color-green {
    color: #008200;
}
.color-red {
    color: #fe0000;
}
.color-dark-blue {
    color: #000084;
}
.color-dark-red {
    color: #840000;
}
.color-light-blue {
    color: #008284;
}
.color-purple {
    color: #840084;
}
.color-grey {
    color: #757575;
}

.col {
    display: flex;
    flex-direction: column;

    gap: 1.5rem;
}